<ion-app>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/icon/logNice.png"/>
        <h2>¡Bienvenido!</h2>
        <p> Esta es la app movíl de Tele Atlántico, para que conozca nuestros servicos y ofertas.</p>
      </div>
    </ion-slide>

  <ion-slide>  
  <ion-tabs>

  <ion-tab tab="Cable">

    <ion-card>
      <img src="../../assets/icon/familia.png" />
      <ion-card-header>
        <ion-card-title>Cable</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Nuestro servicio de cable es el mejor ya que contamos con más de 
            1 000 000 de canales de todos los rincones del mundo, para que 
            pueda disfrutar junto a su familia. Nuestras tarifas van desde los 
            ₡500 hasta los ₡2000 (incluye instalación).
      </ion-card-content>
    </ion-card>
  </ion-tab> 

  <ion-tab tab="Internet">

    <ion-card>
      <img src="../../assets/icon/inter.jpg" />
      <ion-card-header>
        <ion-card-title>Internet</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Nuestro servicio de internet es el mejor del país contamos con gran
          cantidad de planes que van desde los ₡1000 hastata los ₡5000 con 
          velocidades que van desde los 300Gb hasta los 700Gb. También contamos 
          con planes familiares y para su empresa (incluye instalación).
      </ion-card-content>
    </ion-card>
  </ion-tab> 

  <ion-tab tab="movíl">

    <ion-card>
      <img src="../../assets/icon/luis.jpeg" />
      <ion-card-header>
        <ion-card-title>Telefonía movíl</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Nuestra servicio de telefonía móvil ofrece la mejor cobertura a nivel nacional
        e internacional. Además de eso ofrecemos planes pre-pago y post-pago, los cuales
        van desde ₡100 hasta los ₡1000 con velocidades de internet de 20Gb hasta 300Gb 
        respectivamente.
      </ion-card-content>
    </ion-card>
  </ion-tab> 

  <ion-tab tab="fija">

    <ion-card>
      <img src="../../assets/icon/telfijo.jpg" />
      <ion-card-header>
        <ion-card-title>Telefonía fija</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Nuestra servicio de telefonía fija tiene grandes beneficios como 
        que luego de dos meses de tener el servicio contratado se le regalarán
        dos meses y luego de un año se le cobrará la mitad de la factura (incluye instalación).
      </ion-card-content>
    </ion-card>
  </ion-tab> 



        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="Cable">
            <ion-label>Cable</ion-label>
            <ion-icon name="tv-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="Internet">
            <ion-label>Internet</ion-label>
            <ion-icon name="wifi-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="movíl">
            <ion-label>Telefonía movíl</ion-label>
            <ion-icon name="bar-chart-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="fija">
            <ion-label>Telefonía fija</ion-label>
            <ion-icon name="call-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
  </ion-tabs>
</ion-slide>

<ion-slide>
  <ion-tabs>

    <ion-tab tab="Ofertas">
  
      <ion-header>
        <ion-toolbar>
          <ion-title>Ofertas del mes</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-item>
        <ion-label position="floating">-10% en Internet</ion-label>
        <ion-select>
          <ion-select-option value="">Enviar solitud</ion-select-option>
          <ion-select-option value="nes">+ informacíon</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">-15% en Telefonía fija</ion-label>
        <ion-select>
          <ion-select-option value="">Enviar solitud</ion-select-option>
          <ion-select-option value="nes">+ informacíon</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">-40% en Telefonía movíl</ion-label>
        <ion-select>
          <ion-select-option value="">Enviar solitud</ion-select-option>
          <ion-select-option value="nes">+ informacíon</ion-select-option>
        </ion-select>
      </ion-item>
      

    
    </ion-tab> 
  
    <ion-tab tab="Contáctanos">
  
      <ion-header>
        <ion-toolbar>
          <ion-title>Estamos por y para usted</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-fab vertical="center" horizontal="center" slot="fixed">
          <ion-fab-button>
            <ion-icon name="share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="start">
            <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="end">
            <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-content>
      

    </ion-tab> 
  
  
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="Ofertas">
              <ion-label>Ofertas</ion-label>
              <ion-icon name="ticket-sharp"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="Contáctanos">
              <ion-label>Contáctanos</ion-label>
              <ion-icon name="chatbubbles-sharp"></ion-icon>
            </ion-tab-button>

  
          </ion-tab-bar>
    </ion-tabs>
</ion-slide>


</ion-slides>
    
</ion-app>